/* Sección del banner superior con imagen de fondo */
.figure-products {
    position: relative;     
    min-height: 35vh;       
    display: flex;          
    align-items: center;    /* Centrar verticalmente el contenido */
    overflow: hidden;       /* Ocultar contenido que se salga del contenedor */
}

.background-products {
    position: absolute;     /* Posicionamiento absoluto para estar detrás del texto */
    top: 0;                 /* Colocar en la esquina superior izquierda */
    left: 0;
    width: 100%;
    height: 100%;                  
    object-fit: cover;      /* Ajusta imagen cubriendo todo el espacio sin deformarse */
    object-position: center 70%;    /* Centra la imagen más abajo del centro */
    z-index: 0;                    
    filter: brightness(0.92) contrast(0.95);
}

.text-Catalog{
    font-family: 'Koh Santepheap', sans-serif;
    color: #FFFFFF;
    font-weight: 80;        
    font-size: 3rem;        
    letter-spacing: 0.5px;
    position: absolute;     /* Posición fija sobre la imagen */
    z-index: 1;             /* Coloca encima de la imagen */
    left: 5%;
    top: 20%;               /* Ubicación dentro del banner */
    margin: 0;              /* Elimina margen por defecto */
}

/* Layout general del catálogo de productos */
.product-layout {
    display: flex;          /* Layout en fila: filtros a la izquierda y productos a la derecha */
    padding: 40px 60px;     
}

/* Estilo general de los filtros */
.filters {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 1.2rem;      
    padding-top: 40px;     
}

/* Cada bloque de filtro (categoría, precio, etc.) */
.filter-group {
    border-top: 1px solid #BA9D7E;
    padding: 30px 0;        /* Espaciado interno arriba y abajo */
    width: 300px;
}

.filter-options {
    display: none;      /* Oculta las opciones hasta que se activen con JS */
}

/* Estilo de las etiquetas de filtro */
.filter-options label {
    font-size: 17px;
    color: #62482b;
}

/* Título de cada grupo de filtro */
.filter-group h3 {
    display: flex;      /* Permite poner el icono "+" a la derecha */
    justify-content: space-between;
    color: #5E4F40;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
}

/* Icono de desplegar filtros */
.filter-toggle {
    width: 35px;
    height: 35px;
    opacity: 0.7;
    cursor: pointer;        /* Cambia el cursor al pasar por encima */
    color: #76634E;
    margin-bottom: 15px;
}

/* Contenedor de productos */
.products {
    flex-grow: 1;       /* Ocupa el espacio restante del layout */
}

/* Grid de productos */
.squares-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);      /* Tres columnas iguales */
    gap: 50px 40px;     /* Espacio entre productos */
    list-style: none;   /* Quita viñetas de la lista */
    padding: 0 60px;    /* Espaciado horizontal */
}

/* Cada producto */
.squares-container li {
    width: 320px;
    display: flex;
    flex-direction: column;     /* Imagen arriba, texto abajo */
    align-items: center;        /* Centrado horizontal */
}

/* Imagen del producto */
.square {
    width: 100%;
    max-width: 320px;
    aspect-ratio: 16 / 14;
    background: linear-gradient(to bottom, white, #E1DBD6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.square img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

/* Información del producto (nombre + precio) */
.cup-info {
    display: flex;
    justify-content: space-between;     /* Nombre a la izquierda, precio a la derecha */
    width: 100%;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 20px;
    color: #3F332D;
    margin-top: 10px;
}

.product-name {
    text-align: left;
}

.product-price {
    text-align: right;
}

/* Botón para aplicar filtros */
.button-filter {
    margin-top: 17px;
    background-color: #BA9D7E;
    color: white;
    border: none;
    padding: 8px 40px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start;
}

@media (max-width: 1509px) {
    .squares-container {
        grid-template-columns: repeat(2, 1fr);  /* Dos columnas*/
        gap: 30px;
        padding: 0 10px;
        margin-top: 40px;
    }
}


/* RESPONSIVE de los productos */
@media (max-width: 968px) {
    .squares-container {
        grid-template-columns: 1fr;     /* Solo una columna */
        gap: 30px;
        padding: 0 10px;
        margin-top: 40px;
    }

    .squares-container li {
        width: 100%;        /* Ocupa todo el ancho disponible */
    }

    .square {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;  /* Mantiene relación de aspecto */
    }

    .cup-info {
        flex-direction: column;     /* Coloca los elementos (nombre y precio) uno debajo del otro */
        align-items: center;        /* Centra los elementos horizontalmente dentro del contenedor */
        text-align: center;         /* Centra el texto dentro de cada elemento */
    }

    .product-name, .product-price {
        text-align: center;         /* Centra el texto dentro del span */
        width: 100%;                /* Hace que cada elemento ocupe todo el ancho del contenedor */
    }       
}

/* RESPONSIVE de los filtros */
@media (max-width: 968px) {
    .product-layout {
        flex-direction: column;     /* Filtros encima, productos debajo */
        padding: 20px;
        gap: 30px;
    }

    .filter-group {
        margin: 0 auto;     /* Centrar filtros */
    }

    .filters {
        width: 100%;
        font-size: 1rem;    /* Tamaño más pequeño para móviles */
        padding-top: 0;
    }
}
